<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="<%= I18n.locale %>"><!--<![endif]-->
  <head data-hook="inside_head">
    <%= render partial: 'spree/shared/head' %>
  </head>
  <body class="body-class" id="<%= @body_id || 'default' %>" data-hook="body">

    <div class="container-fluid">

      <div class="row">
        <%= render partial: 'spree/shared/header' %>
        <%= yield :templates %>
      </div>

      <div class="row">
        <div class="container main-element-1">
          <% @results.keys.each do |title| %>
            <div class="row main-element-2 rounded">
              <h1 class = "title-header"> <%=title %> </h1>
              <div class="container question-pocket">
                <% @results[title].each_with_index do |question,i|%>
                  <div class="row main-element-3">
                    <ul class="list-group lg-1">
                      <li class="list-group-item li-1"><%=question[0]%></li>
                    </ul>
                  </div>
                <%end%>
              </div>
            </div>
          <%end%>
        </div>
      </div>

    </div>
  </body>
</html>
