<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="<%= I18n.locale %>"><!--<![endif]-->
  <head data-hook="inside_head">
    <%= render partial: 'spree/shared/head' %>
  </head>
  <body class="body-class" id="<%= @body_id || 'default' %>" data-hook="body">

    <div class="container-fluid">

      <div class="w-100">
        <%= render partial: 'spree/shared/header' %>
        <%= yield :templates %>
      </div>

      <div class="w-100">
        <form class="form-inline active-cyan-4">
          <div class="container search-window mt-5">
            <div class="row align-1">
              <div class="col-9 col-md-11 align-1">
                <input class="form-control form-control-sm mr-3 search-element" type="text" placeholder="Search For Tags"
                  aria-label="Search">
              </div>
              <div class="col-3 col-md-1 align-2">
                <button type="button" class="btn btn-warning btn-rounded w-100">Go</button>
              </div>
            </div>
          </div>
        </form>
      </div>

      <div class="w-100">
        <div class="container main-element-1">
          <%i=1%>
          <% @results.keys.each do |title| %>
            <div class="w-100 main-element-2 rounded">
              <h1 class = "title-header"> <%=title %> </h1>
              <div class="container question-pocket">
                <div class="acc-override" id="accordion">
                    <% @results[title].each do |question|%>
                      <div class="card">
                        <div class="card-header" id="heading<%=i%>">
                          <h5 class="mb-0">
                            <button class="btn btn-light btn-block collapsed text-left" data-toggle="collapse" data-target="#collapse<%=i%>" aria-expanded="false" aria-controls="collapse<%=i%>">
                              <%=question[0]%>
                            </button>
                          </h5>
                        </div>

                        <div id="collapse<%=i%>" class="collapse" aria-labelledby="heading<%=i%>">
                          <div class="card-body">
                            <div class="main-element-3 rounded">
                              <%=question[1].html_safe%>
                            </div>
                            <% if question[2].empty? %>
                              <div class="main-element-4 rounded">
                                No Answers Yet
                              </div>
                            <%else%>
                              <% question[2].each do |ans| %>
                              <div class="main-element-4 rounded">
                                <%= ans.html_safe %>
                              </div>
                              <%end%>
                            <%end%>
                          </div>
                        </div>
                      </div>
                    <%i=i+1%>
                  <%end%>
                </div>
              </div>
            </div>
          <%end%>
        </div>
      </div>
    </div>
  </body>
</html>
