<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="<%= I18n.locale %>"><!--<![endif]-->
  <head data-hook="inside_head">
    <%= render partial: 'spree/shared/head' %>
  </head>
  <body class="body-class" id="<%= @body_id || 'default' %>" data-hook="body">

    <div class="container-fluid">

      <div class="w-100">
        <%= render partial: 'spree/shared/header' %>
        <%= yield :templates %>
      </div>

      <div class="w-100">
        <form class="form-inline active-cyan-4">
          <div class="container search-window mt-5 align-items-center">
            <div class="row align-1">
              <div class="col-9 col-md-11 align-1">
                <input class="form-control form-control-sm mr-3 search-element" id="go" type="text" placeholder="Search For Tags"
                  aria-label="Search">
              </div>
              <div class="col-3 col-md-1 align-2">
                <button type="none" class="btn btn-warning btn-rounded w-100" onclick = "search(event)" >Go</button>
              </div>
            </div>
          </div>
        </form>
      </div>

      <div class="w-100">
        <div class="container align-items-center">
          <%i=1%>
          <% @results.keys.each do |title| %>
            <div class="w-100 main-element-2 rounded">
              <h1 class = "title-header"> <%=title %> </h1>
              <div class="container question-pocket">
                <div class="acc-override" id="accordion">
                    <% @results[title].each do |question|%>
                      <div class="card">
                        <div class="card-header" id="heading<%=i%>">
                          <h5 class="mb-0">
                            <button class="btn btn-light collapsed text-left button-override" data-toggle="collapse" data-target="#collapse<%=i%>" aria-expanded="false" aria-controls="collapse<%=i%>">
                              <%=question[0]%>
                            </button>
                            <a class="external pull-right" title="See on Stack Overflow" href="<%=question[3]%>" target="_blank"></a>
                          </h5>
                        </div>

                        <div id="collapse<%=i%>" class="collapse" aria-labelledby="heading<%=i%>">
                          <div class="card-body">
                            <div class="main-element-3 rounded">
                              <p class="font-weight-bold m-0 p-0">Question <%=i%></p>
                              <br>
                              <%=question[1].html_safe%>
                            </div>
                            <% if question[2].empty? %>
                              <div class="main-element-4 rounded">
                                No Answers Yet
                              </div>
                            <%else%>
                              <% question[2].each_with_index do |ans,i| %>
                              <div class="main-element-4 rounded">
                                <p class="font-weight-bold m-0 p-0">Answer <%=i+1%>:</p>
                                <%= ans.html_safe %>
                              </div>
                              <%end%>
                            <%end%>
                          </div>
                        </div>
                      </div>
                    <%i=i+1%>
                  <%end%>
                </div>
              </div>
            </div>
          <%end%>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      var url = window.location.href;
      search_string = url.split("?");
      if(search_string.length > 1){
        search_terms = search_string[1].split("=");
        if(search_terms.length > 1 && search_terms[0] == "search")
          document.getElementById("go").value = search_terms[1];
      }
    </script>
    <script type="text/javascript">
      function search(e){
        if(true){
          var term = document.getElementById("go").value;
          url = "/get_questions?search=" + term;
          window.open(url);
          return
        }
      }
    </script>
  </body>
</html>
